<div class="container center">
  <div class="row">
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">

      <div class="row center">
        <label class="col s12 m4 l4 xl4">
          <select formControlName="feedbackType">
            <option value="" disabled selected>Feedback Type:</option>
            <option value="Feature Request"><span class="blue-text">Feature Request</span></option>
            <option value="Bug Report"><span class="materialize-red-text">Bug Report</span></option>
            <option value="General Feedback">General Feedback</option>
          </select>
        </label>
      </div>

      <div class="row">
        <label class="active" for="txtFeedback">Message:</label>
        <textarea
          type="text"
          id="txtFeedback"
          formControlName="feedbackMessage"
          class="col s12 materialize-textarea validate"
          data-length="120">
    </textarea>
      </div>

      <div class="row">
        <button class="btn waves-effect" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>

    </form>
  </div>


</div>

<div class="container">
  <ul class="collection"  *ngFor="let message of feedbackMessages | async" >
    <li class="collection-item"><h5 [class.red-text]="message.feedbackType== 'Bug Report'"
                                    [class.light-blue-text]="message.feedbackType=='Feature Request'">
      {{message.feedbackType}}</h5>
      {{message.feedbackMessage}}
      </li>
  </ul>
</div>


