<footer class="page-footer light-blue accent-2">
  <div class="container">
    <div class="row">

      <!-- COLUMN 1 -->
      <div class="col xl4 l4 m4 s12 ">
        <h5 class="white-text">About this Website:</h5>
        <p class="grey-text text-lighten-5">
          A digital portfolio of an aspiring Software Developer.
          Front-end is built using Google's Angular (v9.1.7).
          Backend (still under construction) is built using Django as well as FastAPI.
          Hosting, Database Infrastructure, Analytics and Performance Monitoring is done using Firebase & GCP.
        </p>
      </div>

      <!-- COLUMN 2 -->
      <div class="col xl2 l2 m2 s12">
        <h5 class="white-text">Platforms</h5>
        <ul>
          <li><a href="https://angular.io/">
            Angular
            <fa-icon [icon]="angular"></fa-icon>
          </a></li>
          <li><a href="https://www.gitkraken.com/">
            GitKraken
            <fa-icon [icon]="gitkraken"></fa-icon>
          </a></li>
          <li><a href="https://www.djangoproject.com/">Django</a></li>
          <li><a href="https://fastapi.tiangolo.com/">FastAPI</a></li>

        </ul>
      </div>

      <!-- COLUMN 3 -->
      <div class="col xl2 l2 m2 s12 ">
        <h5 class="white-text">Styling</h5>
        <ul>
          <li><a href="https://getbootstrap.com/">
            Bootstrap-css
            <fa-icon [icon]="bootstrap"></fa-icon>
          </a></li>
          <li><a href="https://fontawesome.com/">
            FontAwesome
            <fa-icon [icon]="fontawesome"></fa-icon>
          </a></li>
          <li><a href="https://material.angular.io/">AngularMaterial</a></li>
          <li><a href="https://materializecss.com/">Materialize-css</a></li>

        </ul>
      </div>


      <!-- COLUMN 4 -->
      <div class="col xl2 l2 m2 s12 ">
        <h5 class="white-text">Social</h5>
        <ul>
          <li>
            <a href="mailto:zasas.rafi@gmail.com">
              Email
              <fa-icon [icon]="email"></fa-icon>
            </a>
          </li>

          <li class="phone-pad">
            <a href="tel:+13106002053">
              Cell
              <fa-icon [icon]="phone"></fa-icon>
            </a>
          </li>

          <li><a

            href="https://www.instagram.com/rafaelzasas/">
            Instagram
            <fa-icon [icon]="instagram"></fa-icon>
          </a>
          </li>

          <li><a
            href="https://twitter.com/rafaelzasas">
            Twitter
            <fa-icon [icon]="twitter"></fa-icon>
          </a>
          </li>

          <li><a
            href="https://open.spotify.com/user/21cuacltbdl7tnr4b5epbzafy?si=SF4HBNUPSWK14Gf9_tMVZg">
            Spotify
            <fa-icon [icon]="spotify"></fa-icon>
          </a>
          </li>
        </ul>
      </div>

      <!-- COLUMN 5 -->
      <div class="col xl2 l2 m2 s12 ">
        <h5 class="white-text">Interests</h5>
        <ul>
          <li>
            <a href="https://www.raspberrypi.org/">
              RaspberryPi
              <fa-icon [icon]="raspberrypi"></fa-icon>
            </a>
          </li>

          <li>
            <a href="https://www.collegeswimming.com/swimmer/746409/">
              Swimming
              <fa-icon [icon]="swimmer"></fa-icon>
            </a>
          </li>

          <li>
            <a href="https://www.thingiverse.com/RaffCity/makes">
              3D Printing</a>
          </li>


        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="right">© 2020<a routerLink="">Rafael Zasas</a></span>
    </div>
  </div>
</footer>
