<div class="container">
  <blockquote class="blue-grey-text">
    Education
  </blockquote>
  <div class="flow-text">
    I'm currently enrolled as a Computer Science (Bsc) Major at the
    <a href="https://www.redlands.edu/">University of Redlands</a>
    with a minor in Math.
    <br>I Graduated High School from
    <a href="https://www.crawfordschools.co.za/sandton-college">Crawford College Sandton </a>
    in 2016.
  </div>
</div>

<div class="container">
  <blockquote class="blue-grey-text">
    Background
  </blockquote>
  <div class="flow-text">
    I was born and raised in <a href="https://en.wikipedia.org/wiki/Johannesburg">
    Johannesburg</a>, South Africa. <br>
    I moved to California after High School to pursue my other passion which is programming and Software
    Development. Its My dream to work with the very best in the industry and keep pushing the
    boundaries of what we believe is capable through software.
  </div>
</div>

<div class="container">
  <blockquote class="blue-grey-text">
    Certifications
  </blockquote>
  <div class="flow-text">
  <ul>
    <li>Crash Course on Python-<a href="https://coursera.org/share/6695a3f4136448b399d7bc3c51e11a5d">
      Google/Coursera.
    </a></li>
    <li>Google Ads Search Certification-<a href="https://skillshop.exceedlms.com/student/award/18507280">
      Google.
    </a></li>
  </ul>
  </div>
</div>

<div class="container">
  <blockquote class="blue-grey-text">
    Sports
  </blockquote>
  <div class="flow-text">
    My deepest passion in life is swimming and I've had the
    incredible experience of representing my province and country on multiple occasions.<br>
    Currently I swim with the Bulldogs at the UofR.<br>
  </div>
</div>
<br>

