<nav class="light-blue accent-2">
  <div class="nav-wrapper">
    <span class="brand-logo">
      <a routerLink="" class="name-pad">Rafael Zasas</a>
    </span>
    <a data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/aboutme"><i class="material-icons">info_outline</i>About Me</a></li>
      <li><a routerLink="/feedback"><i class="material-icons">thumbs_up_down</i>Feedback</a></li>
      <div *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- btn will replace this div -->
      </div>
      <ng-template #authenticated>
        <li><a routerLink="/user-profile"><i class="material-icons">person</i>Profile</a></li>
      </ng-template>

      <ng-template #guest>
        <li><a routerLink="/login"><i class="material-icons">person_outline</i>Login</a></li>
      </ng-template>


    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile">

  <li><div class="user-view" *ngIf="auth.user$ | async as user">
    <div class="background">
      <img src="../../assets/background.jpg">
    </div>
    <a routerLink="/"><img class="circle" src="{{user.photoURL}}"></a>
    <a routerLink="/"><span class="helper-text name">{{user.displayName}}</span></a>
    <a href="mailto:zasas.rafi@gmail.com"><span class="helper-text email">{{user.email}}</span></a>
  </div></li>

  <div *ngIf="auth.user$ | async; then authenticated else guest">
    <!-- profile icon will replace this div -->
  </div>
  <li><a routerLink="/aboutme"><i class="material-icons">info_outline</i>About Me</a></li>
  <li><a routerLink="/feedback"><i class="material-icons">thumbs_up_down</i>Feedback</a></li>
  <li><a (click)="this.auth.signOut()"><i class="material-icons">directions_run</i>Logout</a></li>
  <li><a class="sidenav-close"><i class="material-icons">close</i>close sidenav</a></li>
</ul>
