.email-pad-text{
  padding-top: 10px;
  padding-bottom: 5px;
}

.email-pad-icon{
  padding-left: 10px;
}

.phone-pad{
  padding-top: 5px;
}

a{
  font-weight: bold;
  color: #FFFFFF;
}

.socials-pad{
  padding-left: 10px;
  padding-right: 10px;
}
