
<div class="center">
  <h1 class="grey-text text-darken-2">Take a look at my different Projects!</h1>
</div>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><fa-icon [icon]="web"></fa-icon> Web Development</div>
      <div class="collapsible-body">

          <app-web-dev></app-web-dev>

      </div>
    </li>

    <li>
      <div class="collapsible-header"><fa-icon [icon]="python"></fa-icon>Python Projects</div>
      <div class="collapsible-body">

          <app-password-generator></app-password-generator>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><fa-icon [icon]="javascript"></fa-icon> Javascript Projects</div>
      <div class="collapsible-body">

          <app-tiles-calculator></app-tiles-calculator>

      </div>
    </li>
  </ul>
