

  <blockquote>
    <span class="flow-text">Web Development:</span>
    <!-- ROW 1 -->
    <div class="row">
      <!-- CARD 1.1 -->
      <div class="col s12 m4">
        <div class="card horizontal sticky-action">
          <div class="card-image">
            <img src="../../assets/raff-site.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="flow-text">This site wil be be updated frequently so be sure to Come Back Often!</p>
            </div>
            <div class="card-action">
              <a routerLink="" >Home</a>
            </div>
          </div>
        </div>
      </div>
      <!-- CARD 1.2 -->
      <div class="col s12 m4">
        <div class="card horizontal sticky-action">
          <div class="card-image">
            <img src="../../assets/covidsa-site.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="flow-text">A SPA I made for a business looking to provide sanitary supplies.</p>
            </div>
            <div class="card-action">
              <a href="https://covid-sa-8456b.web.app/">See this Site</a>
            </div>
          </div>
        </div>
      </div>
      <!-- CARD 1.3 -->
      <div class="col s12 m4">
        <div class="card horizontal sticky-action">
          <div class="card-image">
            <img src="../../assets/ryan-site.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="flow-text">A gift for my brothers 16th Birthday. Will be put to good use soon!</p>
            </div>
            <div class="card-action">
              <a href="https://ryanzasas.com">See this Site</a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </blockquote>

  <blockquote>
    <h2 class=" blue-grey-text text-lighten-3">Python Projects:</h2>
    <app-python-projects></app-python-projects>
  </blockquote>



  <blockquote>
    <h2 class=" blue-grey-text text-lighten-3">Javascript Projects:</h2>
    <app-tiles-calculator></app-tiles-calculator>
  </blockquote>
