
  <!-- ROW 1 -->
  <div class="row">
    <!-- CARD 1.1 -->
    <div class="col s12 m4">
      <div class="card horizontal sticky-action">
        <div class="card-image">
          <img src="../../assets/raff-site.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="flow-text">This Site! I'll be Updating it Frequently - Make Sure to Come Back Soon!</p>
          </div>
          <div class="card-action">
            <a routerLink="" >Home</a>
          </div>
        </div>
      </div>
    </div>
    <!-- CARD 1.2 -->
    <div class="col s12 m4">
      <div class="card horizontal sticky-action">
        <div class="card-image">
          <img src="../../assets/covidsa-site.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="flow-text">A simple SPA I made for a business to provide sanitary supplies.</p>
          </div>
          <div class="card-action">
            <a href="https://covid-sa-8456b.web.app/">See this Site</a>
          </div>
        </div>
      </div>
    </div>
    <!-- CARD 1.3 -->
    <div class="col s12 m4">
      <div class="card horizontal sticky-action">
        <div class="card-image">
          <img src="../../assets/ryan-site.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="flow-text">A simple SPA I made for my brothers 16th Birthday.</p>
          </div>
          <div class="card-action">
            <a href="https://ryanzasas.com">See this Site</a>
          </div>
        </div>
      </div>
    </div>


  </div>

