<!-- ROW 1 -->
<div class="row">
  <!-- CARD 1.1 -->
  <a routerLink="">
    <div class="col s12 m4" (click)="routeToSite()">
      <div class="card horizontal sticky-action">
        <div class="card-stacked">

          <img src="../../../assets/raff-site.JPG" class="responsive-img">

          <div class="card-content">
            <p class="flow-text">This site - which will be be updated frequently. Be sure to come back often!</p>
          </div>

        </div>
      </div>
    </div>
  </a>

  <!-- CARD 1.2 -->
  <a href="https://dsc-ur.web.app/">
    <div class="col s12 m4">
      <div class="card horizontal sticky-action">
        <div class="card-stacked">

          <img src="../../../assets/dsc-ur-site.JPG" class="responsive-img">

          <div class="card-content">
            <p class="flow-text">The official website for the Developers Student Club at the University of Redlands</p>
          </div>

        </div>
      </div>
    </div>
  </a>

  <!-- CARD 1.3 -->

  <a href="https://andrew-brown-productions.firebaseapp.com/">
    <div class="col s12 m4">
      <div class="card horizontal sticky-action">

        <div class="card-stacked">


          <img src="../../../assets/andrew-site.JPG" class="responsive-img">


          <div class="card-content">
            <p class="flow-text">Resume site for my friend who is fantastic videographer.</p>
          </div>

        </div>
      </div>
    </div>

  </a>


</div>

