<div class="container center">

  <div class="row">
    <h3 class="blue-grey-text">Random Password generator</h3>
    <h5 class="light-blue-text text-accent-3">This is a small app I made to demonstrate creating a callable API
      using Python and Fast-API. It can be integrated into any front-end or backend service using the callable URL.
    You can find interactive documentation <a href="http://34.67.150.38/docs">Here</a> </h5>
  </div>

  <div class="col">
    <form [formGroup]="passwordForm" (ngSubmit)="getRandomPassword()" class="center">
      <div class="row ">
        <div class="input-field col s6">
          <input [value]="10"
                 id="pLength"
                 type="text"
                 formControlName="pwdlength"
                 class="validate">
          <label class="active" for="pLength">Password Length</label>
        </div>
      </div>

      <div class="row ">
        <div class="input-field col s6">
          <select formControlName="useSymbols">
            <option [value]="true" disabled>Choose an option</option>
            <option selected [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
          <label>Use Symbols?</label>
        </div>
      </div>

      <div class="row ">
        <div class="input-field col s6">
          <select formControlName="useNumbers">
            <option [value]="true" disabled>Choose an option</option>
            <option selected [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
          <label>Use Numbers?</label>
        </div>
      </div>

      <div class="row ">
        <div class="input-field col s6">
          <select formControlName="useLetters">
            <option [value]="true" disabled>Choose an option</option>
            <option selected [value]="true">Yes</option>
            <option [value]="false">No</option>
          </select>
          <label>Use Letters?</label>
        </div>
      </div>

      <div class="row ">
        <button class="btn light-blue" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

</div>

<div  class="blue-grey-text center">
  <p>Generated Password:</p>
  <div class="row" *ngIf="password" (click)="copyPassword()" id="pwSection">
    {{password.password}} <fa-icon style="padding-left: 15px" [icon]="copyIcon"></fa-icon>
  </div>
</div>
