<div class="container center">

  <div class="row">
    <h3 class="blue-grey-text">Random Password generator</h3>
    <h5 class="light-blue-text text-accent-3">This is a small app I made to demonstrate the possibility to write scripts
      in Python,
      create an API/endpoint
      with which you can integrate into any modern web/app service!</h5>
  </div>

  <div class="row">
    <form [formGroup]="passwordForm" (ngSubmit)="getPassword()">
      <div class="row">
        <div class="input-field col s6">
          <input [value]="10"
                 id="pLength"
                 type="text"
                 formControlName="pwdlength"
                 class="validate">
          <label class="active" for="pLength">Password Length</label>
        </div>

        <div class="input-field col s6">
          <select formControlName="useSymbols">
            <option selected [value]="true" disabled>Choose an option</option>
            <option [value]="true">True</option>
            <option [value]="false">False</option>
          </select>
          <label>Use Symbols?</label>
        </div>

        <div class="row center">
          <button class="btn waves-effect light-blue" type="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

      </div>
    </form>
  </div>

</div>

<div  class="blue-grey-text" *ngIf="userClicked">
  <p>Generated Password:</p>
  <div class="row">{{password.password}}</div>
</div>
