
<div class="container center">

  <div class="row">
    <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">

      <div class="row center">
        <label class="col s12 m4 l4 xl4">
          <select formControlName="feedbackType">
            <option value="" disabled selected>Feedback Type:</option>
            <option value="Feature Request"><span class="blue-text">Feature Request</span></option>
            <option value="Bug Report"><span class="materialize-red-text">Bug Report</span></option>
            <option value="General Feedback">General Feedback</option>
          </select>
        </label>
      </div>

      <div class="row">
        <label class="active" for="txtFeedback">Message:</label>
        <textarea
          type="text"
          id="txtFeedback"
          formControlName="feedbackMessage"
          class="col s12 materialize-textarea validate"
          data-length="120">
    </textarea>
      </div>

      <div class="row" *ngIf="auth.user$ | async as user; then authenticated else guest">
        <!-- CORRESPONDING BUTTON WILL GO HERE -->
      </div>

      <ng-template #authenticated>
        <button
          class="btn waves-effect light-blue"
          type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </ng-template>

      <ng-template #guest>
        <button
          class="btn waves-effect light-blue"
          type="submit" routerLink="/login">Login to submit feedback
        </button>
      </ng-template>
    </form>
  </div>
</div>

<div class="row" *ngIf="showPostsSpinner">
  <app-loading-spinner></app-loading-spinner>
</div>

<!--         SECTION FOR ALL USERS TO SEE FEEDBACK MESSAGES   -->
<div class="container" *ngIf="this.auth.user$ | async as user">
<ng-container *ngFor="let message of feedbackPostService.feedbackMessages | async">
  <app-feedback-card
    [feedbackMessage]="message"
    (setReplyingTo) = "setReplyingTo($event)"
    [user]="user"
    (showRepliesClicked)="showReplies($event)"></app-feedback-card>
</ng-container>
</div>



<!-- Modal to show all the replies for a given post -->
<div id="repliesModal" class="modal">

  <div class="row center-block">
    <app-loading-spinner *ngIf="this.showSpinner"></app-loading-spinner>
  </div>

  <div class="modal-content">
<!--    Template to show if the post does have replies on it-->
    <div class="col" *ngIf="this.hasReplies; else no_content">
      <ul class="collection">
        <li *ngFor="let reply of feedbackPostService.feedbackReplies |async "
            class="collection-item avatar">
          <div class="row">
            <!--  Column for the reply information-->
            <div class="col s8 m8 l8 xl8">
              <img src="{{reply.profilePhoto}}" alt="profile-photo" class="circle">
              <span class="title"> {{reply.username}}</span>
              <p class=" helper-text">{{reply.message}}</p>
            </div>
            <!--  Column for the button to delete the reply -->
            <div class="col s3 m3 l3 xl3 push-s1 push-m1 push-l1 offset-xl1">
              <a class="btn-small materialize-red" (click)="this.feedbackPostService.deleteReply(reply.id)" >
                <fa-icon [icon]="trash"></fa-icon>
                Delete</a></div>
          </div>
        </li>
      </ul>
    </div>

<!--    Template to show if the post has no replies on it-->
    <ng-template #no_content>
      <p>No replies</p>
    </ng-template>

  </div>
  <div class="modal-footer">
    <button
      class="btn modal-close light-blue"
      type="submit">close
    </button>
  </div>
</div>


<!-- Reply to feedback modal -->
<div id="replyModal" class="modal">
  <form [formGroup]="replyForm" (ngSubmit)="replyToPost()">
    <div class="modal-content">
      <label class="active" for="txtReply">Reply:</label>
      <textarea
        type="text"
        formControlName="message"
        id="txtReply"
        class="col s12 materialize-textarea validate"
        data-length="120">
     </textarea>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!replyForm.valid"
        class="btn modal-close light-blue"
        type="submit">reply
      </button>

    </div>
  </form>
</div>



