<!-- Container for all the cards -->
<div class="container">

  <!-- ROW 1 -->
  <div class="row">

    <!--- CARD 1.1 -->
    <div class="col s12 m6 l4 xl4">
      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-light">
          <img class="activator" src="../../assets/linkedin-logo.png" alt="LinkedIn">
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">LinkedIn<i
            class="material-icons right">more_vert</i></span>
          Have a look at my LinkedIn page for some insights into my past work experience and professional life.
        </div>

        <div class="card-action">
          <span> <a href="https://www.linkedin.com/in/rafael-zasas/">Connect with me</a></span>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">LinkedIn<i class="material-icons right">close</i></span>
          <p>A popular social media site for like-minded business individuals to make new connections and
            share ideas.</p>
        </div>
      </div>
    </div>

    <!--- CARD 1.2 -->
    <div class="col s12 m6 l4 xl4">

      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light logo-pad-top">
          <img class="activator" src="../../assets/github-logo.png" alt="me">
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Git Hub<i
            class="material-icons right">more_vert</i></span>
          See the source code of my projects as well as contributions
            to the OSS community.
        </div>

        <div class="card-action">
          <a href="https://github.com/RafaelZasas">see my repositories</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">WHat is GitHub?<i class="material-icons right">close</i></span>
          <p>A project hosting service founded on the Git version control software.<br>On my
            personal GitHub page is links to all my public repo's where you can get an idea of how I program and
          and manage my projects.</p>
        </div>
      </div>
    </div>

    <!--- CARD 1.3 -->
    <div class="col s12 m6 l4 xl4">

      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light logo-pad-top">
          <img class="activator" src="../../assets/stack-overflow-logo.png" alt="me">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Stack Overflow<i
            class="material-icons right">more_vert</i></span>
          <p>Check out my Stack Overflow user
            page to see questions and answers I've posted.</p>
        </div>

        <div class="card-action">
          <a href="https://stackoverflow.com/users/10673068/rafael-zasas">ask. answer, or just look</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">What is Stack Overflow?<i class="material-icons right">close</i></span>
          <p>Stack Overflow is a question and answer site for professional and enthusiast programmers,
            featuring questions and answers on a wide range of topics in computer programming. Click the link
            to see some of the questions I've asked (consider leaving an answer) as well as some of the answers
            I've left for other users.
          </p>
        </div>
      </div>
    </div>

  </div>

  <!-- ROW 2 -->

  <div class="row">

    <!--- CARD 2.1 -->
    <div class="col s12 m6 l4 xl4">
      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../assets/triplebyte-logo.jpg" alt="me">
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Triplebyte<i
            class="material-icons right">more_vert</i></span>
          <p>Not convinced? Triblebyte has even more data on my skills and weaknesses!
          </p>
        </div>

        <div class="card-action">
          <a href="https://triplebyte.com/candidates/profile_builder">take me there</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">What is Tryplebyte?<i class="material-icons right">close</i></span>
          <p>A background-blind hiring service which aims top provide employers with a bias free
          opinion on their applicants capabilities. By testing a wide range of topics Triblebyte is able to hiilight users
            strengths rather than weaknesses.
          </p>
        </div>

      </div>
    </div>

    <!--- CARD 2.2 -->
    <div class="col s12 m6 l4 xl4">

      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light logo-pad-bot">
          <img class="activator" src="../../assets/projects-logo.jpg" alt="projects-logo">
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Projects<i
            class="material-icons right">more_vert</i></span>
          <p>Software Development projects I'm currently working on.</p>
        </div>

        <div class="card-action">
          <a routerLink="/projects">Let me see</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">What projects?<i class="material-icons right">close</i></span>
          <p></p>
        </div>
      </div>
    </div>

    <!--- CARD 2.3 -->
    <div class="col s12 m6 l4 xl4">

      <div class="card medium sticky-action">
        <div class="card-image waves-effect waves-block waves-light logo-pad-top">
          <img class="activator" src="../../assets/resume-logo.jpg" alt="resume">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Resume<i
            class="material-icons right">more_vert</i></span>

          <p>I'm currently looking for a job! Please take a look at me resume :)</p>
        </div>

        <div class="card-action">
          <a routerLink="/aboutme" (click)="ResumeClick()">Please Hire Me</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Whats a Resume?<i class="material-icons right">close</i></span>
          <p>Basic Description of my qualifications and skills.</p>
        </div>
      </div>
    </div>

  </div>

</div>

